body {background-image: url(Blood.jpg);
}
h1 { color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
a {color: antiquewhite;}